.btn-primary {
  display: inline-block;
  background-color: #00B7C2;
  color: white;
  border-radius: 50px;
  padding: 16px 36px;
  transition: all 150ms ease-in-out;
  box-shadow: rgba(255, 255, 255, 0.11) 0px 1px 1px 1px;

}

.btn-primary:hover {
  background: white;
  color: #00B7C2;
}
